@{
    ViewBag.Title = "User Panel";
}

<h2>@User.Identity.Name Panel</h2>
<br />
<div class="col-md-12">
    <div class="row">
        @Html.ActionLink("Make a New Request", "Create", "Travel", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
    <div class="row">
        @Html.ActionLink("Pending Requests", "UserPendingTravels", "User", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
    <div class="row">
        @Html.ActionLink("Assign Requests", "UserAssignTravels", "User", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
    <div class="row">
        @Html.ActionLink("Complete Requests", "UserCompleteTravels", "User", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
</div>
