@{
    ViewBag.Title = "Admin Panel";
}

<h2>Admin Panel</h2>
<br />

<div class="col-md-6">
    <div class="row">
        @Html.ActionLink("All Users", "AllUsers", "User", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
    <div class="row">
        @Html.ActionLink("Drivers", "Index", "Driver", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
    <div class="row">
        @Html.ActionLink("Vehicles", "Index", "Vehicle", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
</div>
<div class="col-md-6">
    <div class="row">
        @Html.ActionLink("Pending Requests", "PendingTravels", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
    <div class="row">
        @Html.ActionLink("Assigned Requests", "AssignTravels", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
    <div class="row">
        @Html.ActionLink("Complete Requests", "CompleteTravels", new { }, new { @class = "btn btn-default" })
    </div>
    <br />
</div>
